{
	"bracketSpacing": true,
	"bracketSameLine": false,
	"printWidth": 130,
	"tabWidth": 2,
	"trailingComma": "all",
	"quoteProps": "consistent",
	"semi": true,
	"singleQuote": true,
	"useTabs": false,
	"endOfLine": "lf"
}
